<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aplication-0
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Marvin Cáceres</h1>
  <ion-avatar>
    <img src="assets/Imagen/Vin.jpeg" width="300" height="300"/>
  </ion-avatar>
  <ol>
    <li>Estudiante Ing. Informatica</li>
    <li>Pasatiempos: Jugar futbol, escuchar musica</li>
    <li>Comidas favoritas: Asados</li>
    <li>Trabajo en: CATV</li>
  </ol>
    
</ion-content>
