<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aplication-0
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Metas Personales</h1>
  <ol>
    <li>Mi meta personal es luchar por tener estabilidad con mi familia</li>
    <li>Mi meta profesional es finalizar mi carrera universitaria</li>
    <li>En cinco años me veo ejerciendo mi carrera universitaria</li>
    <li>Mi meta a largo plazo es tener mi propio negocio y administralo junto a mi esposa</li>
  </ol>
  <img src="assets/Imagen/Ladybug.jpg" width="500" height="300"/>
</ion-content>
